In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
train = pd.read_csv("input/train.csv")
test = pd.read_csv("input/test.csv")

In [6]:
train.shape, test.shape

((184903890, 8), (18790469, 7))

In [59]:
train.is_attributed.value_counts(normalize = True)

0    0.997529
1    0.002471
Name: is_attributed, dtype: float64

In [60]:
train_sample.is_attributed.value_counts(normalize=True)

0    0.99773
1    0.00227
Name: is_attributed, dtype: float64

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
ip                 100000 non-null int64
app                100000 non-null int64
device             100000 non-null int64
os                 100000 non-null int64
channel            100000 non-null int64
click_time         100000 non-null object
attributed_time    227 non-null object
is_attributed      100000 non-null int64
dtypes: int64(6), object(2)
memory usage: 6.1+ MB

In [4]:
train.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

In [22]:
test.head()

   click_id      ip  app  device  os  channel           click_time
0         0    5744    9       1   3      107  2017-11-10 04:00:00
1         1  119901    9       1   3      466  2017-11-10 04:00:00
2         2   72287   21       1  19      128  2017-11-10 04:00:00
3         3   78477   15       1  13      111  2017-11-10 04:00:00
4         4  123080   12       1  13      328  2017-11-10 04:00:00

In [23]:
train[train.is_attributed == 1].head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
284,224120,19,0,29,213,2017-11-08 02:22:13,2017-11-08 02:22:38,1
481,272894,10,1,7,113,2017-11-08 06:10:05,2017-11-08 06:10:37,1
1208,79001,19,0,0,213,2017-11-07 09:54:22,2017-11-07 11:59:05,1
1341,131029,19,0,0,343,2017-11-09 10:58:46,2017-11-09 11:52:01,1
1412,40352,19,0,0,213,2017-11-07 22:19:03,2017-11-08 01:55:02,1

- ip: ip address of click.
- app: app id for marketing.
- device: device type id of user mobile phone (e.g., iphone 6 plus, iphone 7, huawei mate 7, etc.)
- os: os version id of user mobile phone
- channel: channel id of mobile ad publisher
- click_time: timestamp of click (UTC)
- attributed_time: if user download the app for after clicking an ad, this is the time of the app download
- is_attributed: the target that is to be predicted, indicating the app was downloaded

In [9]:
train.is_attributed.value_counts(normalize=True)

0    0.99773
1    0.00227
Name: is_attributed, dtype: float64

In [20]:
feats = ["ip", "app", "device", "os", "channel", "click_time", "attributed_time"]

In [31]:
for f in feats:
    print("number of unique values in", f, " are", train[f].nunique())

number of unique values in ip  are 34857
number of unique values in app  are 161
number of unique values in device  are 100
number of unique values in os  are 130
number of unique values in channel  are 161
number of unique values in click_time  are 80350
number of unique values in attributed_time  are 227

In [33]:
train.attributed_time = pd.to_datetime(train.attributed_time)

In [46]:
train.click_time = pd.to_datetime(train.click_time)
train.attributed_time = pd.to_datetime(train.attributed_time)

In [54]:
train['download_time'] = train.attributed_time - train.click_time

In [55]:
train.download_time.describe()

count                       227
mean     0 days 01:14:59.572687
std      0 days 02:25:05.392661
min             0 days 00:00:02
25%      0 days 00:00:52.500000
50%             0 days 00:03:18
75%      0 days 01:21:27.500000
max             0 days 12:52:21
Name: download_time, dtype: object

In [ ]:
tra

### what to do with attribute_time?